.loader-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40vh;
    font-size: 1.5em;
}

.loader {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

.loader .stroke {
    margin-top: 70vh;
    position: relative;
    background-color: black;
    height: 100%;
    width: 20px;
    border-radius: 50px;
    margin-right: 5px;
    animation: animate 1.2s linear infinite;
}

@keyframes animate {
    50% {
        height: 20%;
    }

    100% {
        height: 100%;
    }
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}

.stroke:nth-child(2) {
    animation-delay: 0.3s;
}

.stroke:nth-child(3) {
    animation-delay: 0.6s;
}

.stroke:nth-child(4) {
    animation-delay: 0.9s;
}

.stroke:nth-child(5) {
    animation-delay: 0.6s;
}

.stroke:nth-child(6) {
    animation-delay: 0.3s;
}

.stroke:nth-child(7) {
    animation-delay: 0s;
}

.song-content {
    margin-left: 35vw;
}

.card {
    max-width: 680px;
    margin: 0 auto;
    padding: 24px;
    margin-top: 1vh;
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.section-header {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 8px;
    font-family: monospace;
}

.verse {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.line {
    line-height: 1.6;
}