* {
    /* background-color: #ede8d0; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #e0e0e0;
}

body {
    background-color: #121212;
    color: #e0e0e0;
}

